.main
  .main__info
    .main__info--left
      .main__info--left--title
        = @group.name
      .main__info--left--member
        Member:
        - @group.users.each do |user|
          =user.name
          
        
    .main__info--right
      =link_to edit_group_path(@group),class: "edit--btns" do
        Edit


  .main__list
    = render @messages
  

  = form_for [@group, @message] do |f|
    .main__form
      .main__form--img
        = f.text_field :body, class: 'input-text', placeholder: 'type a message'
        .input-image
          = f.label :image, class: 'input-image-file' do
            = icon('fas', 'image')
            = f.file_field :image, class:'input-image-file-icon'
        = f.submit 'Send',class:'message--button'